3.1

In [80]:
print(60 ** 2)

3600

3.2

In [83]:
seconds_per_hour = 60 ** 2

3.3

In [86]:
print("there are ",seconds_per_hour * 24," seconds in a day.")

there are  86400  seconds in a day.

3.4

In [108]:
seconds_per_day = seconds_per_hour * 24

3.5

In [111]:
print(seconds_per_day / seconds_per_hour)

24.0

3.6

In [102]:
print(seconds_per_day // seconds_per_hour)

24

If we remove the .0 from the float number then I think that would mean it is being treated as an intiger. In which case the numbers would both be 24 stored as intigers.